.prod-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.prod-list li{
    position: relative;
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;  
}

/* 자식이 float left하면 부모도 반드시 float left 해야한다 */
.prod-list li img{
    margin: 0;
    padding: 0;
    float: left;
    z-index: 5;
}

/* 부모가 ralative 하면 자식은 absolute해야한다 */
.prod-list .caption{
    position: absolute;
    top: 200px;
    width: 300px;
    height: 200px;
    padding-top: 20px;
    background-color: rgba(0,0,0,0.6);
    opacity: 0; /*투명도*/
    z-index: 10;
    transition: all 0.5s;
}


.prod-list li:hover .caption{
    opacity: 1;
    transform: translateY(-200px);
}

.prod-list .caption h1, .prod-list .caption p{
    color: white;
    text-align: center;
}